* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(135deg, #2ec1ea, #b03aff);
  min-height: 100vh;
  color: #FFFFFF;
}
.box{
  height: 500px;
  width: 100%;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: left;

}
.sub-box{
  height: 400px;
  width: 20%;
  background-color: green;
  transition: all 0.7s ease-in-out;
}
.sub-box:hover{
  width: 80%;
  background-color: cyan;
}

