* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(135deg, #2ec1ea, #b03aff);
  min-height: 100vh;
  color: #FFFFFF;
}


